@font-face {
  font-family: "unisansheavycaps";
  font-display: swap;
  src: url("../fonts/unisansheavycaps.woff") format("woff"), url("../fonts/unisansheavycaps.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

span {
  font-size: 20px;
}

div {
  font-size: 30px;
}

div {
  background: url(../img/start-screen-puppy.png) 0 0 no repeat;
}

@media (max-width: 767px) {
  span {
    font-size: 15px;
  }

  div {
    font-size: 20px;
  }
}

.webp div { background: url(../img/start-screen-puppy.webp) 0 0 no repeat; }