@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");

@font-face {
  font-family: "Play";
  font-display: swap;
  src: url("../fonts/Play-Bold.woff") format("woff"), url("../fonts/Play-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "uniSans";
  font-display: swap;
  src: url("../fonts/unisansheavycaps (1).woff") format("woff"), url("../fonts/unisansheavycaps (1).woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --swiper-theme-color: #007aff;
}

@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

/* 3D Effects */

.swiper-container-3d {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: #fff url("../img/bg_header.jpg") top no-repeat;
}

.top-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

.top-header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.top-header__column_logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 190px;
          flex: 0 0 190px;
  text-align: center;
}

.top-header__logo {
  position: relative;
  z-index: 5;
  display: inline-block;
}

.top-header__contacts {
  position: relative;
  z-index: 5;
}

.menu__list {
  display: grid;
  grid-template-columns: 110px 130px 180px;
}

.menu__list li {
  margin: 1px 0;
}

.menu__link {
  font-family: "Play";
  text-decoration: underline;
  font-size: 14px;
  line-height: 18px;
  min-height: 27px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0;
  -o-transition: all 0.3s ease 0;
  transition: all 0.3s ease 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 22px;
}

.icon-menu {
  display: none;
}

.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-header__column {
  padding: 0px 30px;
}

.contacts-header__item_icon {
  background: url("../img/icons/header/phone.png") left no-repeat;
  padding: 0px 0px 0px 37px;
}

.contacts-header__label {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  margin: 0px 0px 5px 0px;
}

.contacts-header__phone {
  font-family: "Roboto";
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  white-space: nowrap;
}

.botom-header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 63px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.botom-header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 95px);
          flex: 0 1 calc(50% - 95px);
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-header li {
  margin: 0px 54px 0px 0px;
}

.actions-header li:last-child {
  margin: 0px 30px 0px 0px;
}

.actions-header__item {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  padding: 0px 0px 0px 36px;
  display: inline-block;
  line-height: 24px;
  color: #999999;
  -webkit-transition: all 0.3s ease 0;
  -o-transition: all 0.3s ease 0;
  transition: all 0.3s ease 0;
}

.actions-header__item span {
  border-bottom: 1px dotted;
}

.actions-header__item_login {
  background: url(../img/icons/header/login.png) left no-repeat;
}

.actions-header__item_reg {
  background: url(../img/icons/header/user.png) left no-repeat;
}

.actions-header__item_email {
  background: url(../img/icons/header/mail.png) left no-repeat;
}

.actions-header__email {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  padding: 0px 0px 0px 36px;
  background: url(../img/icons/header/mail.png) left no-repeat;
  display: inline-block;
  line-height: 13px;
  color: #1ab9ce;
}

.actions-header__email span {
  border-bottom: 1px dotted;
}

.info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-header__column {
  padding: 0px 54px 0px 0px;
}

.info-header__column:last-child {
  padding: 0;
}

.info-header__callback {
  background: url(../img/icons/header/callback.png) left no-repeat;
  display: inline-block;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  color: #1ab9ce;
  line-height: 20px;
  padding: 0px 0px 0px 32px;
  white-space: nowrap;
}

.info-header__callback span {
  border-bottom: 1px dotted;
}

.info-header__schedule {
  background: url(../img/icons/header/schedule.png) left no-repeat;
  padding-left: 37px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #999999;
}

.info-header__schedule span {
  font-weight: 900;
}

.info-header__cart {
  width: 43px;
  height: 43px;
  display: inline-block;
  background: url(../img/icons/header/cart.png) 0 0 no-repeat;
  position: relative;
}

.info-header__cart span {
  padding: 0px 11px;
  border-radius: 20px;
  line-height: 25px;
  background-color: #f68038;
  position: absolute;
  right: -25px;
  top: -3px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

body {
  font-family: "Roboto";
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 20px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 160px;
}

.page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 260px;
          flex: 0 0 260px;
}

.page__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
  padding-left: 30px;
}

.page__search {
  margin-bottom: 22px;
}

.page__slider {
  margin-bottom: 65px;
}

.menu-page {
  background: url("../img/bg_menu.jpg") top no-repeat;
  position: relative;
}

.menu-page__header {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-page__title {
  color: #ffffff;
  font-family: "uniSans";
  line-height: 116.66667%;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.menu-page__burger {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  width: 36px;
  background-color: #068292;
  position: relative;
  cursor: pointer;
  z-index: 5;
  padding: 10px 6px;
}

.menu-page__burger span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: calc(50% - 1px);
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.menu-page__burger span:first-child {
  top: 0px;
}

.menu-page__burger span:last-child {
  top: auto;
  bottom: 0px;
}

.menu-page__burger._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu-page__burger._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.menu-page__burger._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.menu-page__lines {
  height: 15px;
  position: relative;
}

.menu-page__body {
  display: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-page__body._active {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: block;
}

.menu-page__list > li {
  border-bottom: 1px solid #1aa7b9;
}

.menu-page__parent .menu-page__link::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  width: 14px;
  height: 14px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  background: url("../img/menu_arrow.png") 0 0 no-repeat;
}

.menu-page__parent._active .submenu-page__item {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.menu-page__parent._active .menu-page__link {
  background-color: #098494;
}

.menu-page__link {
  letter-spacing: 0.3px;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  display: block;
  padding: 12px 20px;
  position: relative;
}

.menu-page__submenu {
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  overflow: hidden;
}

.submenu-page__item {
  width: 280px;
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}

.submenu-page__menu {
  border: 2px solid #098494;
  border-left: 0;
  border-bottom: 1px solid #dedede;
  padding: 20px 0;
}

.submenu-page__link {
  color: #1ab9ce;
  font-size: 12px;
  font-weight: 300;
  display: block;
  letter-spacing: 0.3px;
  padding: 10px 40px;
}

.submenu-page__product {
  border: 2px solid #098494;
  border-left: 0;
  border-top: 0;
  padding: 0 15px;
  height: 100%;
}

.item-product {
  padding: 15px;
  position: relative;
}

.item-product__labels {
  position: absolute;
  left: 15px;
  top: 15px;
}

.item-product__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-radius: 15px;
  font-weight: 900;
  margin-bottom: 10px;
  padding: 0px 15px;
  height: 21px;
  text-transform: uppercase;
  background-color: #fd8424;
}

.item-product__image {
  height: 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.item-product__image img {
  max-width: 100%;
  max-height: 175px;
}

.item-product__body {
  padding: 0 10px;
}

.item-product__title {
  color: #36949f;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  display: inline-block;
  margin-bottom: 5px;
}

.item-product__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-product__old-price {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  color: #999999;
  font-size: 18px;
  font-weight: 300;
  text-align: right;
  text-decoration: line-through;
}

.item-product__old-price span {
  font-size: 14px;
}

.item-product__add {
  width: 40px;
  height: 40px;
  background: url(../img/icons/cart_gray.png) 0 0 no-repeat;
}

.item-product__price {
  color: #333333;
  font-size: 24px;
  font-weight: 900;
}

.item-product__price span {
  font-size: 18px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__text {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #666;
  letter-spacing: -0.3px;
  line-height: calc(20/16);
  cursor: pointer;
}

.checkbox__text::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 25px;
  outline: none;
  border: none;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.search-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.search-page__select {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 14px;
  background-color: #f3f3f3;
}

.search-page__select._active::after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.search-page__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-page__title span {
  margin: 0px 13px;
  color: #666666;
  font-weight: 300;
  border-bottom: 1px dashed;
}

.search-page__title span:last-child {
  display: none;
}

.search-page__title::before {
  content: "";
  width: 17px;
  height: 17px;
  background: url("../img/icons/search_page.png") 0 0 no-repeat;
}

.search-page__title::after {
  content: "";
  width: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 10px;
  background: url("../img/icons/search__page_icons.png") 0 0 no-repeat;
}

.search-page__title._categories span {
  display: none;
}

.search-page__title._categories span:last-child {
  display: block;
}

.search-page__title._active::after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.search-page__categories {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.search-page__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
}

.search-page__input .input {
  height: 100%;
}

.search-page__btn {
  border: 0;
  display: inline-block;
  padding: 0px 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39px;
  cursor: pointer;
  background-color: #f68038;
  color: #ffffff;
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
  line-height: normal;
}

.categories-search {
  display: none;
  border-right: 1px solid #f3f3f3;
  background-color: #fff;
}

.categories-search::after {
  content: "";
  background-color: #f68038;
  height: 4px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.categories-search._active {
  display: block;
}

.categories-search__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories-search__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 27px 40px;
  border-right: 1px solid #f3f3f3;
}

.categories-search__column:last-child {
  border: 0;
}

.categories-search__list li {
  margin: 0px 0px 20px 0px;
}

.categories-search__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.categories-search__checkbox .checkbox__input:checked + .checkbox__text {
  color: #f68038;
}

.categories-search__checkbox .checkbox__text {
  color: #999;
}

.categories-search__checkbox .checkbox__text::before {
  display: none;
}

.mainslider__slide {
  position: relative;
}

.mainslider__content {
  position: relative;
  z-index: 2;
}

.mainslider__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.content-mainslider {
  padding: 20px 35px;
}

.content-mainslider__title {
  color: #333333;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 43px;
  margin-bottom: 50px;
}

.content-mainslider__title span {
  display: block;
  color: #f68038;
}

.content-mainslider__footer {
  padding-top: 15px;
  text-align: center;
}

.content-mainslider__price {
  margin-bottom: 24px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 900;
  line-height: 24px;
}

.content-mainslider__button {
  height: 33px;
  border: 3px solid #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  padding: 0px 20px;
}

.content-mainslider__button span {
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  padding-right: 30px;
  background: url("../img/mainSlider/button_arrow.png") right no-repeat;
}

.text-mainslider {
  color: #333333;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 24px;
}

.text-mainslider__text-1 {
  font-size: 18px;
  color: #f68038;
}

.text-mainslider__text-2 {
  line-height: 1;
  padding: 5px 10px;
  display: inline-block;
  color: #fff;
  background-color: #92918e;
}

.text-mainslider__text-3 {
  color: #979797;
}

@media (min-width: 767.98px) {
  .top-header__column_logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 25px 0px 0px 0px;
  }
}

@media (min-width: 991.98px) {
  .menu__link:hover {
    border-radius: 20px;
    background-color: #068292;
  }

  .contacts-header__column {
    border-left: 1px solid #fff;
  }

  .contacts-header__column:first-child {
    border: 0;
  }

  .actions-header__item:hover {
    color: #068292;
  }

  .menu-page__link:hover {
    background-color: #098494;
  }

  .submenu-page__link:hover {
    background-color: #71c7d3;
    color: #fff;
  }

  .item-product__old-price:hover {
    text-decoration: underline;
  }
}

@media (min-width: 992px) {
  .search-page__btn:hover {
    background-color: #d06b2c;
  }
}

@media (max-width: 1152px) {
  .menu__list {
    grid-template-columns: 90px 110px 160px;
  }

  .menu__link {
    padding: 5px 10px;
  }

  .contacts-header__column {
    padding: 0px 15px;
  }

  .contacts-header__item_icon {
    padding: 0px 0px 0px 25px;
    background-size: 15px;
  }

  .contacts-header__phone {
    font-size: 16px;
  }

  .botom-header__row {
    padding: 0px 10px;
  }

  .botom-header__row {
    padding: 0;
  }

  .actions-header__item {
    padding: 0px 0px 0px 30px;
  }

  .actions-header__item {
    padding: 0px 0px 0px 30px;
  }

  .info-header__callback {
    background: none;
    padding: 0;
  }

  .info-header__schedule {
    background: none;
    padding: 0;
  }

  .info-header__schedule {
    display: none;
  }

  .info-header__cart span {
    right: -10px;
  }
}

@media (max-width: 1140px) {
  .actions-header li {
    margin: 0px 2.63158vw 0px 0px;
  }

  .info-header__column {
    padding: 0px 2.63158vw 0px 0px;
  }
}

@media (max-width: 991.98px) {
  .menu__body {
    opacity: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    visibility: hidden;
    left: 0;
    overflow: auto;
    padding: 120px 20px 30px 20px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 2;
    background-color: #fff;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 105px;
    top: 0;
    left: 0;
    z-index: 8;
    background-color: #009fb4;
  }

  .menu__body._active {
    opacity: 1;
    visibility: visible;
  }

  .menu__list {
    display: block;
  }

  .menu__list li {
    margin: 0px 0px 20px 0px;
  }

  .menu__link {
    color: #009fb4;
    padding: 0;
    font-size: 20px;
  }

  .icon-menu {
    display: block;
    width: 30px;
    position: relative;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .contacts-header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .contacts-header__item_second-phone {
    display: none;
    border: none;
  }

  .actions-header__item {
    padding: 0;
    background: none;
  }
}

@media (max-width: 991.98px) and (max-width: 767.98px) {
  .menu__body {
    padding: 90px 20px 30px 20px;
  }

  .menu__body::before {
    height: 70px;
  }
}

@media (max-width: 767.98px) {
  .header {
    background: #fff url("../img/bg_header.jpg") 0 -20px no-repeat;
  }

  .top-header__content {
    height: 70px;
  }

  .top-header__column_logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
  }

  .top-header__logo {
    width: 100px;
  }

  .top-header__logo img {
    max-width: 100%;
  }

  .contacts-header {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}

@media (max-width: 640px) {
  .contacts-header__column {
    padding: 0px;
  }

  .contacts-header__item_icon {
    background: none;
    padding: 0;
  }

  .contacts-header__label {
    display: none;
  }

  .contacts-header__phone {
    background: url(../img/icons/header/phone.png) left no-repeat;
    width: 19px;
    height: 25px;
    font-size: 0;
    display: inline-block;
    margin: 0px 10px 0px 0px;
    vertical-align: initial;
  }

  .actions-header {
    margin-bottom: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .info-header__cart {
    margin-top: 5px;
  }

  .info-header__cart span {
    font-size: 14px;
    line-height: 20px;
    padding: 0px 10px;
  }

  ._container {
    padding: 0px 15px;
  }
}

.webp .header{ background: #fff url(../img/bg_header.webp) top no-repeat; }

.webp .contacts-header__item_icon{ background: url(../img/icons/header/phone.webp) left no-repeat; }

.webp .actions-header__item_login{ background: url(../img/icons/header/login.webp) left no-repeat; }

.webp .actions-header__item_reg{ background: url(../img/icons/header/user.webp) left no-repeat; }

.webp .actions-header__item_email{ background: url(../img/icons/header/mail.webp) left no-repeat; }

.webp .actions-header__email{ background: url(../img/icons/header/mail.webp) left no-repeat; }

.webp .info-header__callback{ background: url(../img/icons/header/callback.webp) left no-repeat; }

.webp .info-header__schedule{ background: url(../img/icons/header/schedule.webp) left no-repeat; }

.webp .info-header__cart{ background: url(../img/icons/header/cart.webp) 0 0 no-repeat; }

.webp .menu-page{ background: url(../img/bg_menu.webp) top no-repeat; }

.webp .menu-page__parent .menu-page__link::after{ background: url(../img/menu_arrow.webp) 0 0 no-repeat; }

.webp .item-product__add{ background: url(../img/icons/cart_gray.webp) 0 0 no-repeat; }

.webp .search-page__title::before{ background: url(../img/icons/search_page.webp) 0 0 no-repeat; }

.webp .search-page__title::after{ background: url(../img/icons/search__page_icons.webp) 0 0 no-repeat; }

.webp .content-mainslider__button span{ background: url(../img/mainSlider/button_arrow.webp) right no-repeat; }

@media (max-width: 767.98px){

  .webp .header{ background: #fff url(../img/bg_header.webp) 0 -20px no-repeat; }
}

@media (max-width: 640px){

  .webp .contacts-header__phone{ background: url(../img/icons/header/phone.webp) left no-repeat; }
}