
//Переменные 

$minWidth: 300;
$maxWidth:1400;
$maxWidthContainer:1140;
$md1:$maxWidthContainer + 12;
$md2:991.98;
$md3:767.98;
$md4:479.98;

.filter {
    border: 4px solid #72c9d4;
    &__title {
        padding: 25px 15px 5px 15px;
        color: #36949f;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        @media (max-width: $md2+px) {
            padding: 25px 15px 25px 15px;
            &._active {
                padding: 25px 15px 5px 15px;
            }
        }
    }

    &__content {
        @media (max-width: $md2+px) {
            display: none;
            &._active {
                display: block;
            }
        }

    }

    &__body {

    }

    &__section {

    }

    &__footer {
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
    
    &__btn {
        outline: none;
        border: 0;
        display: flex;
        padding: 0px 10px;
        justify-content: center;
        transition: all 0.3s ease 0s;
        align-items: center;
        height: 39px;
        cursor: pointer;
        background-color: #f68038;
        color: #ffffff;
        font-size: 12px;
        font-weight: 900;
        line-height: 18px;
        line-height: normal;
        text-transform: uppercase;
        @media (min-width: 992px) {
            &:hover {
                background-color: #d06b2c;
            }
        }
        
    }
    
    .btn_grey {
        color: #666666;
        background-color: #e6e6e6;
        @media (min-width: 992px) {
            &:hover {
                background-color: #9d9d9d;
            }
        }
    }



}


// Фильтр

.price-filter {
    

    &__slider {
        height: 4px;
        background-color: #eaeaea;
        margin: 0px 11px 50px;
        position: relative;
        &::before,
        &::after {
            content: "";
            height: 4px;
            background-color: #eaeaea;
            width: 11px;
            position: absolute;
            top: 0;
        }

        &::before {
            left: -10px;
        }
        &::after {
            right: -6px;
        }

        .noUi-base,
        .noUi-connects {
            width: 100%;
            height: 100%;
            position: relative;
        }
        
        .noUi-origin,
        .noUi-connect {
            will-change: transform;
            position: absolute;
            width: 10%;
            height: 10%;
            height: 4px;
            z-index: 1;
            top: 0;
            right: 0;
            -ms-transform-origin: 0 0;
            -webkit-transform-origin: 0 0;
            -webkit-transform-style: preserve-3d;
            transform-origin: 0 0;
            transform-style: flat;
        }
        .noUi-connect {
            background-color: #ffcda5;
            width: 100%;
            height: 100%;
        }
        .noUi-handle {
            width: 23px;
            height: 23px;
            position: relative;
            outline: none;
            top: -10px;
            border: 1px solid #f68038;
            background-color: #ffffff;
            border-radius:50%;
            cursor: pointer;
            &::after {
                content: "";
                width: 15px;
                height: 15px;
                position: absolute;
                left: 50%;
                top: 50%;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                background-color: #f68038;
            }
        }
        .noUi-tooltip {
            position: absolute;
            bottom: -22px;
            left: 50%;
            color: #999999;
            font-size: 12px;
            font-weight: 300;
            transform: translate(-50%, 0px);
        }
    }

    &__values {

    }
    
}

.values-price-filter {
    display: flex;
    margin: 0px -15px;
    &__column {
        padding: 0px 15px;
        flex: 0 1 50%;
        display: flex;
        align-items: center;
    }

    &__label {
        color: #999999;
        font-size: 12px;
        font-weight: 300;
    }

    &__input {
        flex: 1 1 auto;
        padding-left: 10px;
        .input {
            font-size: 12px;
            height: 20px !important;
            border-radius: 0 !important;
            border: 1px solid #e5e5e5;
            height: 30px;
            padding: 0;
            margin: 0px -5px;
            
            //54:43 4 par
        }
    }
}

// Сравнение

.compare-filter {

    &__items {
        padding-right: 13px;
        margin-bottom: 20px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        &:last-child {
            margin: 0;
        }
    }

    &__link {
        line-height: 16px;
        color: #1ab9ce;
        font-size: 12px;
        font-weight: 300;
        text-decoration: underline;
    }

    &__remove {
        margin-top: 3px;
        margin-left: 5px;
        flex: 0 0 10px;
        width: 10px;
        height: 10px;
        background: url("../img/icons/remove_h.png") 0 0 no-repeat;
        @media (min-width: $md2+px) {
            &:hover {
                background: url("../img/icons/remove.png") 0 0 no-repeat;
            }
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 33px;
        background-color: #1ab9ce;
        padding: 0px 13px;
        border-radius: 25px;
        span {
            background: url("../img/icons/compare.png") left no-repeat;
            padding-left: 30px;
            line-height: 33px;
            display: inline-block;
            text-transform: uppercase;
            color: #ffffff;
            font-weight: 900;
        }
    }

    &__clean {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background: #e6e6e6 url("../img/icons/trash.svg") center no-repeat;
    }
}

.show {
    color: #999999;
    min-width: 0;
    padding: 5px 5px;
    border: 2px solid #f3f3f3;
}

.section-filter {
    padding: 15px;
    border-bottom: 1px solid #72c9d4;
    &:last-child {
        border: 0;
    }
    &__title {
        color: #36949f;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        min-height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &._spoller {
            
        }
        &._active {
            color: #000;
            &::after {
               border: 1px solid #cbcbcb;
               background: url("../img/icons/bottom-arrow.png") center no-repeat;
           }
            
        }
    }

    &__body {
        padding-top: 15px;
    }

    &__checkbox {
        display: block;
        margin-bottom: 15px;
        &:last-child {
            margin: 0px;
        }
    }
}

  
.list-group-item {
display: block;

}
.list-header {
    display: flex;
    align-items: center;
    padding-right: 25px;
    cursor: pointer;
    position: relative;
  &::after {
      position: absolute;
      content: '';
      border-radius: 50%;
      width: 30px;
      right: 0;
      top: 0;
      height: 30px;
      border: 1px solid #72c9d4;
      background: url("../img/icons/li-arrow.png") center no-repeat;
    }
}
  
.spoiler-body {
display: none;
}

.catalog {

    &__title {
        color: #dadada;
        font-family: "UniSans";
        font-size: 30px;
        line-height: 130%;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 0.75px;
    }

    &__actions {
        margin-bottom: 15px;
    }   

    &__navi {

    }
}

.actions-catalog {
    background-color: #f3f3f3;
    padding: 10px 20px;
    align-items: center;
    @media (min-width: 540px){
        display: flex;
    }

    &__order {
        @media (max-width: 540px){
            margin-bottom: 15px;
        }
    }

    &__view {

    }
}

.order-catalog {
    @media (min-width: 540px){
        flex: 1 1 auto;
        display: flex;
        align-items: center;
    }
    &__label {
        margin-right: 20px;
        color: #333333;
        font-size: 14px;
        font-weight: 900;
        @media (max-width: 540px){
            margin-bottom: 10px;
        }
    }

    &__select {

    }
}


.view-catalog {
    display: flex;
    &__item {
        cursor: pointer;
        width: 36px;
        height: 36px;
        margin-left: 8px;
        &_grid {
            background: #ffffff url("../img/icons/grid.svg") center no-repeat;
        }

        &_list {
            background: #4da0b9 url("../img/icons/list.svg") center no-repeat;
        }
        @media (max-width: 540px){
            margin-right: 15px;
        }
    }
}

.navi-catalog {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 10px 15px;
    @media (min-width:$md2+px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_top {
        margin-bottom:23px;
    }
    &__show {

    }

    &__pages {

    }
}

.show-catalog {
    @media (min-width:$md2+px) {
        display: flex;
        align-items: center;
    }
    &__label {
        margin-right: 20px;
        color: #333333;
        font-size: 14px;
        font-weight: 900;
        @media (max-width: 540px){
            margin-bottom: 10px;
        }
    }

    &__select {

    }
}

.pagging {
    display: flex;
    align-items: center;
    justify-content: center;

    &__arrow {
        width: 29px;
        height: 25px;
        cursor: pointer;
        align-items: center;
        background: url("../img/icons/sl_arrow_gray.svg") 0 0 no-repeat;
        @media (min-width: $md2+px) {
            &:hover {
                background: url("../img/icons/sl_arrow_orange.svg") 0 0 no-repeat;
                transform: rotate(0deg);
            }
        }
        &:first-child {
            @media (min-width: $md2+px) {
                &:hover {
                    background: url("../img/icons/sl_arrow_orange.svg") 0 0 no-repeat;
                    transform: rotate(180deg);
                }
            }
        }
        &:last-child {
            transform: rotate(-180deg);
        }
    }

    &__list {
        margin: 0px 35px;
        display: flex;
        li {

        }
    }

    &__item {
        width: 33px;
        height: 33px;
        display: flex;
        color: #333333;
        font-weight: 900;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        &._active {
            color: #ffffff;
            background-color: #fd8424;
        }
    }
}