@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");

@import "fonts";

//Primary font
$fontFamily: "Roboto";

@mixin Roboto14px300 {
    font-family: $fontFamily;
    font-size: 14px;
    font-weight: 300;
}

//Переменные 

$minWidth: 300;
$maxWidth:1400;
$maxWidthContainer:1180;
$md1:$maxWidthContainer + 12;
$md2:991.98;
$md3:767.98;
$md4:479.98;

* {
    padding: 0;
    margin: 0;
}

//header 

a {
    text-decoration: none;
}

.header {
    background: url("../img/bg_header.jpg") top no-repeat;

    &__top {

    }

    &__bottom {

    }
}

.top-header {

    &__content {
        display: flex;
        align-items: center;
        height: 90px;
    }

    &__column {
        flex: 0 1 50%;

        &_logo {
            align-self: flex-start;
            padding: 25px 0px 0px 0px;
            flex: 0 0 190px;
            text-align: center;
        }

    }

    &__menu {

    }

    &__logo {

    }

    &__contacts {
    }
    
}


.menu {
    &__icon {

    }

    &__list {
        display: grid;
        grid-template-columns: 110px 130px 180px;
        
        li {list-style-type: none;
            margin: 1px 0;
        }
    }

    &__link {
        font-family: "Play";
        text-decoration: underline;
        font-size: 14px;
        line-height: 18px;
        min-height: 27px;
        color: #fff;
        transition: all 0.3s ease 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding:5px 22px;
        @media (min-width:900px) {
            &:hover {
                border-radius: 20px;
                background-color: #068292;
            }
        }
        
    }
}

.icon-menu {
}

.contacts-header {
    display: flex;
    justify-content: center;
    &__column {
        padding: 0px 30px;
        border-right: 1px solid #fff;
        &:last-child {
            border: 0;
        }
    }

    &__item {

        &_icon {
            background: url('../img/icons/header/phone.png') left no-repeat;
            padding: 0px 0px 0px 37px;
        }
    }

    &__label {
        font-family: $fontFamily;
        font-size: 12px;
        font-weight: 300;
        color: #fff;
        list-style-type: none;
        margin: 0px 0px 5px 0px;
    }

    &__phone {
        font-family: $fontFamily;
        color: #fff;
        font-size: 18px;
        font-weight: 900;
        white-space: nowrap;
        
    }
}

.botom-header {
    &__container {
        display: flex;
        height: 63px;
        align-items: center;
        justify-content: space-between;
    }

    &__column {
        flex: 0 1 calc(50% - 95px);
    }

    &__actions {
        list-style-type: none;
    }

    &__info {
    }
}


.actions-header {
    display: flex;
    align-items: center;
    li {
        margin: 0px 54px 0px 0px;
        @media (max-width: $maxWidthContainer+px) {
            margin: 0px 54 /$maxWidthContainer * 100vw 0px 0px;
        }
    }
    &__login {
        @include Roboto14px300;
        padding: 0px 0px 0px 36px;
        background: url(../img/icons/header/login.png) left no-repeat;
        display: inline-block;
        line-height: 24px;
        color:#999999;
        span {
            border-bottom: 1px dotted;
        }
        
    }

    &__reg {
        @include Roboto14px300;
        padding: 0px 0px 0px 36px;
        background: url(../img/icons/header/user.png) left no-repeat;
        display: inline-block;
        line-height: 24px;
        color:#1ab9ce;
        span {
            border-bottom: 1px dotted;
        }
    }

    &__email {
        @include Roboto14px300;
        padding: 0px 0px 0px 36px;
        background: url(../img/icons/header/mail.png) left no-repeat;
        display: inline-block;
        line-height: 13px;
        color:#1ab9ce;
        span {
            border-bottom: 1px dotted;
        }
    }

}

.info-header {
    display: flex;
    justify-content: center;
    align-items: center;
    &__column {
        padding: 0px 54px 0px 0px;
        @media (max-width: $maxWidthContainer+px) {
            padding: 0px 54 /$maxWidthContainer * 100vw 0px 0px;
        }
        &:last-child {
            padding: 0;
        }
    }

    &__callback {
        background: url(../img/icons/header/callback.png) left no-repeat;
        display: inline-block;
        @include Roboto14px300;
        color:#1ab9ce;
        line-height: 20px;
        padding: 0px 0px 0px 32px;
        span {
            border-bottom: 1px dotted;
        }
    }

    &__schedule {
        background: url(../img/icons/header/schedule.png) left no-repeat;
        padding-left: 37px;
        @include Roboto14px300;
        font-size: 12px;
        line-height: 18px;
        color: #999999;
        span {
            font-weight: 900;
        }
    }

    &__cart {
        width: 43px;
        height: 43px;
        display: inline-block;
        background: url(../img/icons/header/cart.png) 0 0 no-repeat;
        position: relative;
        span {
            padding: 0px 11px;
            border-radius: 20px;
            line-height: 25px;
            background-color:#f68038;
            position: absolute;
            right: -25px;
            top: -3px;
            font-size: 18px;
            font-weight: 700;
            color: #fff;
            @media (max-width:$md1+px) {
                right: -10px;
            }
        }
    }
}



// Сетка 

._container {
    max-width: $maxWidthContainer+px;
    margin: 0 auto;
    padding: 0px 20px;
}

